<section id="dokumen1">
  <div class="wrapper-search-list">
    <div class="wrapper-input">
      <input type="text" class="search-input" placeholder="Cari berdasar nama dokumen">
      <button type="submit" class="search-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <circle cx="10" cy="10" r="7" />
          <line x1="21" y1="21" x2="15" y2="15" />
        </svg>
      </button>
    </div>
    <button type="submit" class="filter-btn" data-bs-toggle="dropdown">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="margin-right: 0.5rem;" viewBox="0 0 16 16">
        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
      </svg>
      <span>Filter</span>
    </button>
    <ul class="dropdown-menu">
      <% categories.forEach(category => { %>
      <li><a class="dropdown-item" href="?filter=<%= category.namakategori %>"><%= category.namakategori %></a></li>
      <% }) %>
    </ul>
  </div>
  <br>
  <div>
    <h1 style="margin-top: -20px;"><%= numOfResult %> Dokumen Ditemukan</h1>
    <% if (!documents) { %>
    <h1>no files found</h1>
    <% } else { %>
    <% documents.forEach(document => { %>
    <div class="content-box">
      <div class="content-card">
        <div class="detail-content">
          <span>
            <h5 class="text-kanan">Dipublikasi Pada : <%= document.date.toLocaleDateString() %></h5>
            <% if (isEditAndDelete) { %>
            <div class="delete-update">
              <a class="btn-update" href="/upload/update?id=<%= document._id %>">Update</a>
              <a class="btn-delete" href="/deletefile?id=<%= document._id %>"><i class="bi bi-trash"></i></a>
            </div>
            <% } else { %>
            <a href="/view?id=<%= document._id %>">
              <h3 class="kategori"><%= document.filekategori %> </h3>
            </a>
            <% } %>
          </span>
          <a href="/view?id=<%= document._id %>">
            <h4><%= document.filename %></h4>
          </a>
          <p><%= document.filedesc %></p>
        </div>
      </div>
    </div>
    <% }) %>
    <% } %>
  </div>
  <nav aria-label="Page navigation example">
    <% if (documents.length !== 0) { %> <% if (totalPages > 0) { %>
    <ul class="pagination">
      <% if (current == 1) { %>
      <li class="item no-click"><a class="link">&laquo;</a></li>
      <% } else { %>
      <li><a class="link" href="?<%= typeof option !== 'undefined' ? `${option}&` : null %>page=1">&laquo;</a></li>
      <% } %>
      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
      <% if (i !== 1) { %>
      <li class="item no-click"><a>...</a></li>
      <% } %>
      <% for (; i <= (Number(current) + 4) && i <= totalPages; i++) { %>
      <% if (i == current) { %>
      <li class="item current"><a class="link"><%= i %></a></li>
      <% } else { %>
      <li><a class="link" href="?<%= typeof option !== 'undefined' ? `${option}&` : null %>page=<%= i %>"><%= i %></a></li>
      <% } %>
      <% if (i == Number(current) + 4 && i < totalPages) { %>
      <li class="item no-click"><a>...</a></li>
      <% } %> <% } %>
      <% if (current == totalPages) { %>
      <li class="item no-click"><a class="link">&raquo;</a></li>
      <% } else { %>
      <li><a class="link" href="?<%= typeof option !== 'undefined' ? `${option}&` : null %>page=<%= totalPages %>">&raquo;</a></li>
      <% } %>
    </ul>
    <% } %> <% } %>
  </nav>
  </div>
</section>