<section id="dokumen1">
  <div class="atas">
    <div class="pencarian">
      <div class="ikon"> <i class="fa fa-search"></i></div>
      <input class="bubblesearch" type="text" placeholder="Pencarian..." required>
    </div>
    <div class="dropdown">
      <a class="btn btn-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
          <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
        </svg>Filter
      </a>
      <ul class="dropdown-menu">
        <% categories.forEach(category => { %>
        <li><a class="dropdown-item" href="?filter=<%= category.namakategori %>"><%= category.namakategori %></a></li>
        <% }) %>
      </ul>
    </div>
  </div>
  <br>
  <div>
    <h1><%= numOfResult %> Dokumen Ditemukan</h1>
    <% if (!documents) { %>
    <h1>no files found</h1>
    <% } else { %>
    <% documents.forEach(document => { %>
    <div class="content-box">
      <div class="content-card">
        <div class="detail-content">
          <span>
            <h5 class="text-kanan">Dipublikasi Pada : <%= document.date.toLocaleDateString() %></h5>
            <% if (isEditAndDelete) { %>
            <div class="delete-update">
              <a class="btn-update" href="/upload/update?id=<%= document._id %>">Update</a>
              <a class="btn-delete" href="/deletefile?id=<%= document._id %>"><i class="bi bi-trash"></i></a>
            </div>
            <% } else { %>
            <a href="/view?id=<%= document._id %>">
              <h3 class="kategori"><%= document.filekategori %> </h3>
            </a>
            <% } %>
          </span>
          <a href="/view?id=<%= document._id %>">
            <h4><%= document.filename %></h4>
          </a>
          <p><%= document.filedesc %></p>
        </div>
      </div>
    </div>
    <% }) %>
    <% } %>
  </div>
  </div>
</section>