<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<section class="about">
  <div class="main">
    <!-- <img src="/images/KabupatenSleman1.png" alt=""> -->
    <embed src="/files/<%- filename %>" class="document"></embed>
    <div class="about-text">
      <h2><%= document.filename %></h2><br>
      <h6>Dipublikasi Pada : <%= document.date.toLocaleDateString() %></h6><br>
      <p><%= document.filedesc %></p><br><br><br>
      <div class="tombol">
        <button type="button" class="btn btn-success"> <i class="fa fa-link"></i> Share Link</button>
        <a href="/files/<%- filename %>"" class=" btn btn-success" download><i class="fa fa-download"></i> Download</a>
      </div>
    </div>
  </div>


</section>